@import url('https://fonts.google.com/share?selection.family=Dosis:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
h1{
    font-family: "Mali" , cursive ;
    text-align: center;
    font-size: 70px;
    color: #f6c667;
    text-shadow: 0px 4px 10px rgba(82, 71, 47, 0.637);
    padding-top: 5%;
}
body{
    background-color: antiquewhite;
}
div {
    border-radius: 40px;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 600px;
    background-color: #bfdbbd;
    margin: 0 auto;  
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
div:hover {
    background-color: #acc6aa;
}


table{
    font-family: "Mali" , cursive ;
    color: #494949;
    margin: 0 auto;   
    padding-left: 5%;
    width: 600px;
    height: 400px;
}
input[type=text]:focus ,input[type=date]:focus ,textarea:focus ,select:focus{
    background-color: #faf8d7;
    outline: none;
}
input[type=radio]:checked {
    accent-color: #c97800;
    color: #494949;
}
input[type=radio]:blank {
    color: #000;
    accent-color: black;
}
input[type=checkbox]:checked {
    accent-color: #c97800;
}
input[type=date]{
    width: 51%;
}
textarea{
    width: 51%;
}
select{
    color: #494949;
    width: 53%;
}
input[type=reset] ,input[type=submit]{
    background-color: #f5f2b5;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: wheat;
    box-shadow: 0px 2.5px 3px rgba(0, 0, 0, 0.5);
}
input[type=reset]:hover ,input[type=submit]:hover{
    background-color: #f7eb86;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: whitesmoke;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
input[type=text]:hover ,input[type=date]:hover,textarea:hover ,select:hover{
    background-color: #faf8d7;
    background-color: #f5f2b5;
}



